/* gives formating to whole body */
body {
	margin:0 auto;
	width:700px;
	background:#FFF;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: cursive;
}

/* has formating for header */
header {
	margin-top:100px;
    background-color: #3E8070;
    height: 65px;
    padding-left: 50px;
    padding-bottom: 25px;
    color: rgb(247, 247, 247);
    font-weight: bold;
    border: #2C3F40 solid 2px;
	box-shadow: 0 0 50px #020D07 inset;
}

/* has formating for section */
section {
	padding:20px;
	background-color: #CCC3A7;
	height:450px;
	box-shadow: 0 0 50px #554515 inset;
}

/* has formatting for div */
div {
    width: 100px;
    height: 100px;
	left:100px;
	top:50px;
    background-color: red;
    position: relative;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 3; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 3;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {background-color:red; left:100px; top:50px;}
    25%  {background-color:yellow; left:300px; top:50px;}
    50%  {background-color:blue; left:300px; top:200px;}
    75%  {background-color:green; left:100px; top:200px;}
    100% {background-color:red; left:100px; top:50px;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:red; left:100px; top:50px;}
    25%  {background-color:yellow; left:300px; top:50px;}
    50%  {background-color:blue; left:300px; top:200px;}
    75%  {background-color:green; left:100px; top:200px;}
    100% {background-color:red; left:100px; top:50px;}
}